<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip.install" />
   <package id="aspnetmvc4.install" />
   <package id="awk" />
   <package id="azure-cli" />
   <package id="blender" />
   <package id="brave" />
   <package id="cascadiacodepl" />
   <package id="choco-cleaner" />
   <package id="choco-package-list-backup" />
   <package id="chocolatey" />
   <package id="chocolatey-compatibility.extension" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-font-helpers.extension" />
   <package id="chocolatey-npm.extension" />
   <package id="chocolatey-visualstudio.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="docker" />
   <package id="docker-cli" />
   <package id="docker-desktop" />
   <package id="dotnet-6.0-desktopruntime" />
   <package id="dotnet-6.0-sdk" />
   <package id="dotnet-6.0-sdk-3xx" />
   <package id="dotnet-desktopruntime" />
   <package id="dotnet-sdk" />
   <package id="DotNet4.5.2" />
   <package id="DotNet4.6" />
   <package id="DotNet4.6.1" />
   <package id="dotnet4.7.2" />
   <package id="dotnetcore" />
   <package id="dotnetcore-3.1-runtime" />
   <package id="dotnetcore-runtime" />
   <package id="dotnetcore-runtime.install" />
   <package id="dotnetfx" />
   <package id="dropbox" />
   <package id="Everything" />
   <package id="ffmpeg" />
   <package id="fiddler" />
   <package id="findutils" />
   <package id="Firefox" />
   <package id="gawk" />
   <package id="git" />
   <package id="git-lfs.install" />
   <package id="git.install" />
   <package id="golang" />
   <package id="grep" />
   <package id="gulp-cli" />
   <package id="ilspy" />
   <package id="jre8" />
   <package id="kafka-tool" />
   <package id="KB2533623" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="KB3063858" />
   <package id="KB3118401" />
   <package id="keepass" />
   <package id="keepass.install" />
   <package id="less" />
   <package id="linqpad" />
   <package id="linqpad7" />
   <package id="linqpad7.install" />
   <package id="make" />
   <package id="maven" />
   <package id="microsoft-teams" />
   <package id="microsoft-windows-terminal" />
   <package id="microsoftazurestorageexplorer" />
   <package id="msbuild-structured-log-viewer" />
   <package id="neovim" />
   <package id="netfx-4.5.2-devpack" />
   <package id="netfx-4.6.1-devpack" />
   <package id="netfx-4.7.2" />
   <package id="netfx-4.7.2-devpack" />
   <package id="nodejs-lts" />
   <package id="offset-explorer" />
   <package id="oh-my-posh" />
   <package id="OpenCover" />
   <package id="postman" />
   <package id="powerautomatedesktop" />
   <package id="powershell-core" />
   <package id="powertoys" />
   <package id="python" />
   <package id="python2" />
   <package id="python3" />
   <package id="rainmeter" />
   <package id="ruby" />
   <package id="ruby.install" />
   <package id="sbt" />
   <package id="screentogif" />
   <package id="screentogif.portable" />
   <package id="slack" />
   <package id="sonarqube-scanner.portable" />
   <package id="sql-server-management-studio" />
   <package id="sysinternals" />
   <package id="totalcommander" />
   <package id="typescript" />
   <package id="vcredist140" />
   <package id="vcredist2008" />
   <package id="vcredist2015" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2022professional" />
   <package id="vlc" />
   <package id="vlc.install" />
   <package id="vscode" />
   <package id="vscode.install" />
   <package id="windirstat" />
   <package id="wsl-ubuntu-2004" />
   <package id="wsl2" />
   <package id="yarn" />
   <package id="zoom" />
</packages>
